<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>{{ .Title }} - {{ .Site.Title }}</title>
  </head>
  <body>
    <div class="container">
      <div class="site-header">
        <!-- <div class="logo">HS</div> -->
        <div>
          <h1 class="title">{{ .Site.Title | default "How does Hotstar Streaming Work?" }}</h1>
          <p class="subtitle">{{ .Site.Params.description | default "I Thought Hotstar Was Just “Playing a Video.” Then I Started Thinking About the RCB vs GT IPL Final." }}</p>
        </div>
      </div>

      <div class="card">
        <div class="cover-image">
          <img src="/images/placeholder-hero.jpg" alt="Placeholder image" />
        </div>
        <h2 class="post-title">{{ .Title }}</h2>
        <div class="meta">{{ .Date.Format "Jan 2, 2006" }}</div>
        <article>
          {{ .Content }}
        </article>
      </div>

      <footer>
        <p>Curated with — Drishti Chadha</p>
      </footer>
    </div>
  </body>
</html>
